body{
    margin: 0%;
    padding: 0%;
    background-color: #C0CBDD;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #342500;
}

a{
    all: unset;
    cursor: pointer;
}

a:hover{
        transform: scale(1.1);
        opacity: 0.5;
}

header{
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-self: center;
    background-color: #B7CBEC;
}

.busca-rapida{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}

.Icon{
    width: 60px;
}

.logo{
    width: 60px;
}


/* pagina */
main{
   
    margin-left: 17%;
    margin-right: 17%;
    height: 100vh;
}



/* imagens */

.Imagens{
    height: 100%;
}

.fotos{
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.fotoCidade{
    width: 900px;
    height: 600px;
}

/* Avaliações */

.Avaliações{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

/* estrelas */
.avaliacao{
display:flex;
justify-content: flex-start;
}

.star-icon{
list-style-type: none;;
cursor: pointer;
color: #F5F0C9;
font-size: 50px;
}

.star-icon::before{
content: "\2605"; 
}

.star-icon.ativo ~ .star-icon::before{ 
    content: "\2606"; 
}

.avaliacao:hover .star-icon::before{ 
    content: "\2605"; 
}

.star-icon:hover ~ .star-icon::before{
    content: "\2606";
}


input{
    
    background-color: #F5F0C9;
    width: 300px;
    height: 30px;
    padding: 10px;
    border-radius: 20px;
    border: #F5F0C9;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* usuarios */
.avaliaçõesUsuarios{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.perfis{
    width: 400px;
    display: flex;
    flex-flow: column;
}

.perfil{
    display: flex;
}

#Titulo{
    font-size: 30px;
    text-align: center;
    padding: 15px;
    align-items: center;

}

#Titulo img{
    border: 10px solid #F5F0C9;
}